* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #B9D7EA;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exam-card {
    background-color: #0A2153;
    border-radius: 80px;
    box-shadow: 11px 8px 9px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 80vw;
    color: white;
    flex-direction: row; 
    padding: 2rem;
    position: relative;
}

.homeImage {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeImage img {
    width: 40rem;
}

h2 {
    font-size: 3rem;
    margin-left: 3rem; 
    margin-top: 6rem;
    margin-bottom: 2rem;
}

p {
    width: 20rem;
    margin-left: 3rem;
    
}

button {
    background-color: #889CC8;
    color: white;
    border: 0;
    padding: 1rem 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 4px #D9D9D9;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: block;
   margin-top: 1rem;
   margin-left: 3rem;
   width: 10rem;
   height: 3rem;
   display: flex;
   align-items: center;
   justify-content: center;

}

button:hover {
    background-color: #7285A5;
}



@media (width: 1440px) {
    .exam-card {
        flex-direction: row;
        width: 96%;
        height: auto;
        padding: 2rem;
        height: 73vh;
    }

    h2 {
        font-size: 3rem;
        margin-left: 2rem;
    }

    p {
        width: 30%;
        text-align: left;
        margin-left: 2rem;
        font-size: 1.3rem;
    }

    button {
        font-size: 1.4rem;
        padding: 1.5rem 2rem;
        width: 18%;
        margin: 1.5rem auto;
        margin-left: 5rem;
    }

    .homeImage {
        width: 100%;  
        height: auto; 
        justify-content: center; 
    }

    .homeImage img {
        max-width: 63%;
        height: auto;
        margin-left: 25rem;
        position: absolute;
        left: 161px;
    
    }
}




@media (width: 1024px) {
    .exam-card {
        flex-direction: row;
        width: 96%;
        height: auto;
        padding: 2rem;
        height: 73vh;
    }

    h2 {
        font-size: 3rem;
        margin-left: 2rem;
    }

    p {
        width: 30%;
        text-align: center;
       
        margin-left: 1rem;
    }

    button {
        font-size: 1rem;
        padding: 1.5rem 2rem;
        width: 23%;
         margin: 1.5rem auto; 
        margin-left: 2rem;
    }

    .homeImage {
        width: 100%;  
        height: auto; 
        justify-content: center; 
    }

    .homeImage img {
        max-width: 63%;
        height: auto;
        margin-left: 25rem;
        position: absolute;
        left: -57px;
    }
}






@media (max-width: 768px) {
    .exam-card {
        flex-direction: column-reverse;
        width: 90%;
        height: auto;
        padding: 1.5rem;
    }

    h2 {
        font-size: 2.5rem;
        margin-top: 2rem;
        text-align: center
    }

    p {
        width: 100%;
        margin-left: 1rem;
       
    }

    button {
        font-size: 1.2rem;
        padding: 1rem 2rem;
        width: 30%;
        margin: 1rem auto;

    }

    .homeImage img {
        max-width: 79%;
        max-height: 40vh;
    }
}




@media (max-width: 480px) {
    p {
        width: 100%;
        margin-left: 10px;
    }
    h2 {
        font-size: 2rem;
        margin-left: 0;
        margin-top: 2rem;
        
        
        text-align: center;
    }
    button{
        width: 10rem;
        font-size: 17px;
    }
}



@media (max-width: 375px) {
    .exam-card {
        flex-direction: column-reverse;
        width: 90%;
        height: auto;
        padding: 1.5rem;
    }

    h2 {
        font-size: 1.5rem; 
        margin-left: 3rem;
    }

    p {
        width: 90%;
        margin-left: 3rem;
    }

    button {
        font-size: 1rem;
        padding: 1rem 2rem;
        width: 50%;
        margin: 1rem auto;
    }

    .homeImage img {
        max-width: 100%;
        max-height: 60vh;
    }
}


@media (max-width: 320px) {
    .exam-card {
        flex-direction: column-reverse;
        width: 90vw;
        height: auto;
        padding: 1rem;
    }

    h2 {
        box-sizing: border-box;
        font-size: 2rem; 
        margin-left: 1rem;
    }

    p {
        width: 90%;
        text-align: left;
        margin-left: 1rem;
    }

    button {
        font-size: 0.8rem;
        padding: 1rem 1rem;
        width: 40%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .homeImage img {
        max-width: 100%;
        max-height: 60vh;
    }
}
/* 
@media (max-width: 1024px) {
    .exam-card {
        flex-direction: row;
        width: 96%;
        height: auto;
        padding: 2rem;
        height: 73vh;
    }

    h2 {
        font-size: 3rem;
        margin-left: 2rem;
    }

    p {
        width: 30%;
        text-align: center;
       
        margin-left: 1rem;
    }

    button {
        font-size: 1rem;
        padding: 1.5rem 2rem;
        width: 23%;
         margin: 1.5rem auto; 
        margin-left: 2rem;
    }

    .homeImage {
        width: 100%;  
        height: auto; 
        justify-content: center; 
    }

    .homeImage img {
        max-width: 63%;
        height: auto;
        margin-left: 25rem;
        position: absolute;
        left: -57px;
    }
} */